.content {
  text-align: center;
  margin-left: 180px;
}
/* Timeline */
.timeline {
  border-left: 2px solid #505050;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: fade(white, 3%);
  margin: 20px auto;
  /* letter-spacing: 0.5px; */
  position: relative;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  /* max-width: 30%; */
}
.timeline .event {
  margin-bottom: 20px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  margin-top: 12px;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px fade(#4298c3, 100%);
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  top: 5px;
}
